# ETL Data Warehouse - Furacão e Aquecimento Global

**Integrantes:**
* Daniel Carvalho Dantas - 10685702
* Gabriel Freitas Ximenes de Vasconcelos - 11819084
* Marcus Huziwara - 11834432
* Raíssa Torres Barreira - 11796336

In [ ]:
!pip install reverse_geocode
!pip install geopandas shapely
!pip install pycountry_convert

In [1]:
import pandas.io.sql as psql
from ipywidgets import interact  ##-- Interactors
import ipywidgets as widgets     #---
from sqlalchemy import create_engine, text
import pandas as pd
import pycountry_convert as pc
import csv
import functools

############## Conectar com um servidor SQL na Base postgres ###################### --> Postgres.postgres
%reload_ext sql

# Connection format: %sql dialect+driver://username:password@host:port/database
engine = create_engine('postgresql://postgres:dwightDW@localhost:5455/furacaoDW')
%sql postgresql://postgres:dwightDW@localhost:5455/furacaoDW
%sql SET client_encoding = 'latin1'

%sql DB << SELECT Current_Database();
print(DB)

 * postgresql://postgres:***@localhost:5455/furacaoDW
Done.
 * postgresql://postgres:***@localhost:5455/furacaoDW
1 rows affected.
Returning data to local variable DB
+------------------+
| current_database |
+------------------+
|    furacaoDW     |
+------------------+

In [ ]:
import os

def capture_command_output(command):
    stream = os.popen(command)
    output = stream.read().strip()
    return output

In [ ]:
CONTAINER_ID=capture_command_output('sudo -S docker ps -aqf "name=postgresDW" < ./passwordfile')

# Extract

### Furacão
Lemos o csv do furacão do atlântico e do pacífico e adicionamos os dois na tabela HURRICANE_RAW.

In [ ]:
capture_command_output(f'sudo -S docker cp hurricane/ {CONTAINER_ID}:hurricane/ < ./passwordfile')

In [ ]:
hur_a = pd.read_csv("hurricane/atlantic.csv")
hur_p = pd.read_csv("hurricane/pacific.csv")
hur_a.head()

In [ ]:
hur_p.head()

In [ ]:
hur_p.columns

In [ ]:
%%sql
DROP TABLE IF EXISTS HURRICANE_RAW;
CREATE TABLE HURRICANE_RAW (
    KEY SERIAL PRIMARY KEY,
    ID VARCHAR(100),
    NAME VARCHAR(200),
    DATE VARCHAR(50),
    TIME VARCHAR(4),
    EVENT VARCHAR(4),
    STATUS VARCHAR(10),
    LATITUDE VARCHAR(15),
    LONGITUDE VARCHAR(15),
    MAXWIND INTEGER,
    MINPRESSURE INTEGER,
    LOWWIND_NE INTEGER,
    LOWWIND_SE INTEGER,
    LOWWIND_NW INTEGER,
    LOWWIND_SW INTEGER,
    MODWIND_NE INTEGER,
    MODWIND_SE INTEGER,
    MODWIND_NW INTEGER,
    MODWIND_SW INTEGER,
    HIGHWIND_NE INTEGER,
    HIGHWIND_SE INTEGER,
    HIGHWIND_NW INTEGER,
    HIGHWIND_SW INTEGER
);

In [ ]:
%%sql
COPY HURRICANE_RAW( id, name, date, time, event, status, latitude, longitude,
                maxwind, minpressure, lowwind_ne, lowwind_se, lowwind_nw, lowwind_sw,
                modwind_ne, modwind_se, modwind_nw, modwind_sw,
                highwind_ne, highwind_se, highwind_nw, highwind_sw)
FROM '/hurricane/atlantic.csv'
DELIMITER ','
CSV HEADER;

COPY HURRICANE_RAW( id, name, date, time, event, status, latitude, longitude,
                maxwind, minpressure, lowwind_ne, lowwind_se, lowwind_nw, lowwind_sw,
                modwind_ne, modwind_se, modwind_nw, modwind_sw,
                highwind_ne, highwind_se, highwind_nw, highwind_sw)
FROM '/hurricane/pacific.csv'
DELIMITER ','
CSV HEADER;

### Temperatura
Lemos o csv do aquecimento global e adicionamos os dois na tabela TEMPERATURE_RAW.

In [ ]:
capture_command_output(f'sudo -S docker cp temperature/ {CONTAINER_ID}:temperature/  < ./passwordfile')

In [2]:
temp = pd.read_csv("temperature/Environment_Temperature_change_E_All_Data_NOFLAG.csv", encoding='latin-1')
temp.head()

,Area Code,Area,Months Code,Months,Element Code,Element,Unit,Y1961,Y1962,Y1963,...,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019
0,2,Afghanistan,7001,January,7271,Temperature change,°C,0.777,0.062,2.744,...,3.601,1.179,-0.583,1.233,1.755,1.943,3.416,1.201,1.996,2.951
1,2,Afghanistan,7001,January,6078,Standard Deviation,°C,1.950,1.950,1.950,...,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950
2,2,Afghanistan,7002,February,7271,Temperature change,°C,-1.743,2.465,3.919,...,1.212,0.321,-3.201,1.494,-3.187,2.699,2.251,-0.323,2.705,0.086
3,2,Afghanistan,7002,February,6078,Standard Deviation,°C,2.597,2.597,2.597,...,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597
4,2,Afghanistan,7003,March,7271,Temperature change,°C,0.516,1.336,0.403,...,3.390,0.748,-0.527,2.246,-0.076,-0.497,2.296,0.834,4.418,0.234

In [7]:
temp.loc[temp['Area'] == 'Russian Federation']

,Area Code,Area,Months Code,Months,Element Code,Element,Unit,Y1961,Y1962,Y1963,...,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019
6188,185,Russian Federation,7001,January,7271,Temperature change,°C,NaN,NaN,NaN,...,-1.021,1.575,1.464,0.225,-0.550,3.170,2.137,2.617,2.623,2.897
6189,185,Russian Federation,7001,January,6078,Standard Deviation,°C,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6190,185,Russian Federation,7002,February,7271,Temperature change,°C,NaN,NaN,NaN,...,-1.362,0.167,1.124,1.504,1.658,5.269,5.810,4.258,2.953,3.723
6191,185,Russian Federation,7002,February,6078,Standard Deviation,°C,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6192,185,Russian Federation,7003,March,7271,Temperature change,°C,NaN,NaN,NaN,...,0.458,4.411,0.637,-0.937,5.171,4.251,4.544,7.389,0.401,5.230
6193,185,Russian Federation,7003,March,6078,Standard Deviation,°C,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6194,185,Russian Federation,7004,April,7271,Temperature change,°C,NaN,NaN,NaN,...,0.948,3.863,3.197,2.590,3.815,2.292,3.840,2.864,2.431,3.114
6195,185,Russian Federation,7004,April,6078,Standard Deviation,°C,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6196,185,Russian Federation,7005,May,7271,Temperature change,°C,NaN,NaN,NaN,...,2.552,2.028,2.644,2.515,1.997,2.026,1.720,0.383,0.981,2.003
6197,185,Russian Federation,7005,May,6078,Standard Deviation,°C,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6198,185,Russian Federation,7006,June,7271,Temperature change,°C,NaN,NaN,NaN,...,1.596,1.977,2.711,1.526,0.981,2.041,1.934,1.162,1.675,1.771
6199,185,Russian Federation,7006,June,6078,Standard Deviation,°C,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6200,185,Russian Federation,7007,July,7271,Temperature change,°C,NaN,NaN,NaN,...,1.767,1.274,1.552,0.937,0.091,0.601,1.560,0.462,0.886,0.535
6201,185,Russian Federation,7007,July,6078,Standard Deviation,°C,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6202,185,Russian Federation,7008,August,7271,Temperature change,°C,NaN,NaN,NaN,...,1.276,0.725,0.483,1.111,1.422,0.813,1.956,1.547,1.254,1.036
6203,185,Russian Federation,7008,August,6078,Standard Deviation,°C,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6204,185,Russian Federation,7009,September,7271,Temperature change,°C,NaN,NaN,NaN,...,0.504,0.719,1.595,-0.220,0.074,1.144,1.973,0.377,1.754,0.849
6205,185,Russian Federation,7009,September,6078,Standard Deviation,°C,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6206,185,Russian Federation,7010,October,7271,Temperature change,°C,NaN,NaN,NaN,...,1.773,3.242,2.085,0.845,-0.125,1.040,0.645,1.060,4.143,2.642
6207,185,Russian Federation,7010,October,6078,Standard Deviation,°C,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6208,185,Russian Federation,7011,November,7271,Temperature change,°C,NaN,NaN,NaN,...,3.884,1.212,2.651,5.405,1.215,1.521,-0.584,2.702,1.702,1.766
6209,185,Russian Federation,7011,November,6078,Standard Deviation,°C,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6210,185,Russian Federation,7012,December,7271,Temperature change,°C,NaN,NaN,NaN,...,-0.686,3.049,-1.441,4.945,2.623,3.879,0.484,3.665,0.841,2.903
6211,185,Russian Federation,7012,December,6078,Standard Deviation,°C,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6212,185,Russian Federation,7016,DecJanFeb,7271,Temperature change,°C,NaN,NaN,NaN,...,-1.378,0.352,1.879,0.096,2.018,3.687,3.942,2.453,3.080,2.487
6213,185,Russian Federation,7016,DecJanFeb,6078,Standard Deviation,°C,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6214,185,Russian Federation,7017,MarAprMay,7271,Temperature change,°C,NaN,NaN,NaN,...,1.319,3.434,2.159,1.389,3.661,2.856,3.368,3.545,1.271,3.449
6215,185,Russian Federation,7017,MarAprMay,6078,Standard Deviation,°C,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6216,185,Russian Federation,7018,JunJulAug,7271,Temperature change,°C,NaN,NaN,NaN,...,1.546,1.325,1.582,1.191,0.831,1.152,1.817,1.057,1.272,1.114
6217,185,Russian Federation,7018,JunJulAug,6078,Standard Deviation,°C,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6218,185,Russian Federation,7019,SepOctNov,7271,Temperature change,°C,NaN,NaN,NaN,...,2.054,1.724,2.110,2.010,0.388,1.235,0.678,1.380,2.533,1.752
6219,185,Russian Federation,7019,SepOctNov,6078,Standard Deviation,°C,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6220,185,Russian Federation,7020,Meteorological year,7271,Temperature change,°C,NaN,NaN,NaN,...,0.885,1.709,1.933,1.171,1.724,2.232,2.451,2.109,2.039,2.200
6221,185,Russian Federation,7020,Meteorological year,6078,Standard Deviation,°C,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
set(temp['Area'].values)

{'Afghanistan',
 'Africa',
 'Albania',
 'Algeria',
 'American Samoa',
 'Americas',
 'Andorra',
 'Angola',
 'Anguilla',
 'Annex I countries',
 'Antarctica',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Asia',
 'Australia',
 'Australia and New Zealand',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belgium-Luxembourg',
 'Belize',
 'Benin',
 'Bhutan',
 'Bolivia (Plurinational State of)',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'British Virgin Islands',
 'Brunei Darussalam',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Caribbean',
 'Cayman Islands',
 'Central African Republic',
 'Central America',
 'Central Asia',
 'Chad',
 'Channel Islands',
 'Chile',
 'China',
 'China, Hong Kong SAR',
 'China, Macao SAR',
 'China, Taiwan Province of',
 'China, mainland',
 'Christmas Island',
 'Cocos (Keeling) Islands',
 'Colombia',
 'Comoros',
 'Congo',
 'Cook Islands',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czechia',
 'Czechoslovakia',
 "Côte d'Ivoire",
 "Democratic People's Republic of Korea",
 'Democratic Republic of the Congo',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Eastern Africa',
 'Eastern Asia',
 'Eastern Europe',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Ethiopia PDR',
 'Europe',
 'European Union',
 'Falkland Islands (Malvinas)',
 'Faroe Islands',
 'Fiji',
 'Finland',
 'France',
 'French Guiana',
 'French Polynesia',
 'French Southern and Antarctic Territories',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Gibraltar',
 'Greece',
 'Greenland',
 'Grenada',
 'Guadeloupe',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Holy See',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran (Islamic Republic of)',
 'Iraq',
 'Ireland',
 'Isle of Man',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kuwait',
 'Kyrgyzstan',
 'Land Locked Developing Countries',
 "Lao People's Democratic Republic",
 'Latvia',
 'Least Developed Countries',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Low Income Food Deficit Countries',
 'Luxembourg',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Martinique',
 'Mauritania',
 'Mauritius',
 'Mayotte',
 'Melanesia',
 'Mexico',
 'Micronesia',
 'Micronesia (Federated States of)',
 'Middle Africa',
 'Midway Island',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Montserrat',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Net Food Importing Developing Countries',
 'Netherlands',
 'Netherlands Antilles (former)',
 'New Caledonia',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Niue',
 'Non-Annex I countries',
 'Norfolk Island',
 'North Macedonia',
 'Northern Africa',
 'Northern America',
 'Northern Europe',
 'Norway',
 'OECD',
 'Oceania',
 'Oman',
 'Pacific Islands Trust Territory',
 'Pakistan',
 'Palau',
 'Palestine',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Pitcairn Islands',
 'Poland',
 'Polynesia',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Republic of Korea',
 'Republic of Moldova',
 'Romania',
 'Russian Federation',
 'Rwanda',
 'Réunion',
 'Saint Helena, Ascension and Tristan da Cunha',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Pierre and Miquelon',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Serbia and Montenegro',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Small Island Developing States',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South America',
 'South Georgia and the South Sandwich Islands',
 'South Sudan',
 'South-Eastern Asia',
 'Southern Africa',
 'Southern Asia',
 'Southern Europe',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Sudan (former)',
 'Suriname',
 'Svalbard and Jan Mayen Islands',
 'Sweden',
 'Switzerland',
 'Syrian Arab Republic',
 'Tajikistan',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Tokelau',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Turks and Caicos Islands',
 'Tuvalu',
 'USSR',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United Republic of Tanzania',
 'United States Virgin Islands',
 'United States of America',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela (Bolivarian Republic of)',
 'Viet Nam',
 'Wake Island',
 'Wallis and Futuna Islands',
 'Western Africa',
 'Western Asia',
 'Western Europe',
 'Western Sahara',
 'World',
 'Yemen',
 'Yugoslav SFR',
 'Zambia',
 'Zimbabwe'}

In [ ]:
def apply_lao(x):
    if x == "Lao People's Democratic Republic":
        return 'Lao Peoples Democratic Republic'
    return x

temp['Area'] = temp['Area'].apply(apply_lao)

In [ ]:
temp.to_csv("temperature.csv", index=False)
capture_command_output(f'sudo -S docker cp temperature.csv {CONTAINER_ID}:temperature.csv < ./passwordfile')

In [ ]:
%%sql
DROP TABLE IF EXISTS TEMPERATURE_RAW;
CREATE TABLE TEMPERATURE_RAW (
    KEY SERIAL PRIMARY KEY,
    AREA_CODE INTEGER,
    AREA VARCHAR(100),
    MONTHS_CODE INTEGER,
    MONTHS VARCHAR(50),
    ELEMENT_CODE INTEGER,
    ELEMENT VARCHAR(100),
    UNIT VARCHAR(10),
    Y1961 REAL, Y1962 REAL,Y1963 REAL,Y1964 REAL,
    Y1965 REAL,Y1966 REAL,Y1967 REAL,Y1968 REAL,
    Y1969 REAL,Y1970 REAL,Y1971 REAL,Y1972 REAL,
    Y1973 REAL,Y1974 REAL,Y1975 REAL,Y1976 REAL,
    Y1977 REAL,Y1978 REAL,Y1979 REAL,Y1980 REAL,
    Y1981 REAL,Y1982 REAL,Y1983 REAL,Y1984 REAL,
    Y1985 REAL,Y1986 REAL,Y1987 REAL,Y1988 REAL,
    Y1989 REAL,Y1990 REAL,Y1991 REAL,Y1992 REAL,
    Y1993 REAL,Y1994 REAL,Y1995 REAL,Y1996 REAL,
    Y1997 REAL,Y1998 REAL,Y1999 REAL,Y2000 REAL,
    Y2001 REAL,Y2002 REAL,Y2003 REAL,Y2004 REAL,
    Y2005 REAL,Y2006 REAL,Y2007 REAL,Y2008 REAL,
    Y2009 REAL,Y2010 REAL,Y2011 REAL,Y2012 REAL,
    Y2013 REAL,Y2014 REAL,Y2015 REAL,Y2016 REAL,
    Y2017 REAL,Y2018 REAL,Y2019 REAL
)

In [ ]:
%%sql
COPY TEMPERATURE_RAW 
    (AREA_CODE, AREA, MONTHS_CODE, MONTHS, ELEMENT_CODE, ELEMENT, UNIT,
    Y1961, Y1962, Y1963, Y1964, Y1965, Y1966, Y1967, Y1968, Y1969, Y1970,
    Y1971, Y1972, Y1973, Y1974, Y1975, Y1976, Y1977, Y1978, Y1979, Y1980, 
    Y1981, Y1982, Y1983, Y1984, Y1985, Y1986, Y1987, Y1988, Y1989, Y1990, 
    Y1991, Y1992, Y1993, Y1994, Y1995, Y1996, Y1997, Y1998, Y1999, Y2000, 
    Y2001, Y2002, Y2003, Y2004, Y2005, Y2006, Y2007, Y2008, Y2009, Y2010, 
    Y2011, Y2012, Y2013, Y2014, Y2015, Y2016, Y2017, Y2018, Y2019)
FROM '/temperature.csv'
DELIMITER ','
CSV HEADER;

### Países
Lemos o csv de países e adicionamos na tabela COUNTRIES. Esses dados foram necessários para a parte geográfica do projeto.

In [ ]:
%%sql
SELECT COUNT(DISTINCT(Unit)) FROM TEMPERATURE_RAW;

ALTER TABLE TEMPERATURE_RAW DROP COLUMN Unit;

In [ ]:
%%sql
DROP TABLE IF EXISTS COUNTRIES;
CREATE TABLE COUNTRIES (
    ID INTEGER,
    COUNTRY VARCHAR(200)
);
COPY COUNTRIES (id, country)
FROM '/countries.csv'
DELIMITER ','
CSV HEADER;

# Transform

## Hurricane

### Alterar o formato da Latitude e Longitude
Nos dados, a latitude e longitude são identificadas como norte, sul, les e oeste pelas letras 'N', 'S', 'E' e 'w'. Para utilizarmos esse valores para calcular a localização do furacão, transformamos apenas em números por meio do cast.

In [ ]:
%%sql
UPDATE HURRICANE_RAW
SET LATITUDE = CASE
                      WHEN RIGHT(LATITUDE, 1) = 'N' THEN CAST(SUBSTR(LATITUDE,1, LENGTH(LATITUDE) - 1) AS DECIMAL)
                      WHEN RIGHT(LATITUDE, 1) = 'S' THEN -1 * CAST(SUBSTR(LATITUDE,1, LENGTH(LATITUDE) - 1) AS DECIMAL)
                   END;
UPDATE HURRICANE_RAW
SET LONGITUDE = CASE 
                      wHEN RIGHT(LONGITUDE, 1) = 'E' THEN CAST(SUBSTR(LONGITUDE,1, LENGTH(LONGITUDE) - 1) AS DECIMAL)
                      WHEN RIGHT(LONGITUDE, 1) = 'W' THEN -1 * CAST(SUBSTR(LONGITUDE,1, LENGTH(LONGITUDE) - 1) AS DECIMAL)
                   END;

### Mudar data do HURRICANE_RAW de string para date
Alteramos o formato da coluna data para facilitar na consulta

In [ ]:
%%sql
ALTER TABLE HURRICANE_RAW
ALTER COLUMN date TYPE DATE
USING date::Date

### Adicionar mês escrito
De acordo com nossa constelação de fatos, criamos o campo mês escrito. Para isso, criamos uma tabela MONTHS e a preenchemos a partir do csv com todos os meses do ano. Depois, adicionamos a columa mês escrito na tabela HURRICANE_RAW

In [ ]:
%%sql
SELECT * FROM HURRICANE_RAW LIMIT 1;

In [ ]:
capture_command_output(f'sudo -S docker cp months.csv {CONTAINER_ID}:months.csv  < ./passwordfile')

In [ ]:
%%sql
DROP TABLE IF EXISTS MONTHS;
CREATE TABLE MONTHS (
    Value INTEGER,
    Month VARCHAR(50)
);

COPY MONTHS(Value, Month)
FROM '/months.csv'
DELIMITER ','
CSV HEADER;

ALTER TABLE HURRICANE_RAW
ADD COLUMN WRITTEN_MONTH VARCHAR(50);

In [ ]:
%%sql
UPDATE HURRICANE_RAW h
SET written_month = m.month
FROM MONTHS m
WHERE EXTRACT(MONTH FROM date) = m.value;

### Mudar time do HURRICANE_RAW de string para time
Alteramos o formato da coluna time para facilitar na consulta

In [ ]:
%%sql
UPDATE HURRICANE_RAW
SET time = LPAD(time, 4, '0');

ALTER TABLE HURRICANE_RAW
ALTER COLUMN time TYPE TIME
USING time::TIME;

### Adicionar países aos furacões
Como só temos a latitude e longitude para localizar um furacão, adicionamos os países em que cada furacão ocorreu, de forma que será mais fácil de comparar na hora de realizar as consultas.

Para isso, usamos a biblioteca reverse_geocode para encontrar os países a partir da latitude e longitude. Criamos uma nova tabela SET_COUNTRY e a preenchemos usando um csv com os países e suas respectivas chaves, de forma que fizemos um inner join entre essa tabela e a HURRICANE_RAW, adicionando os países.

In [ ]:
import reverse_geocode

# Encontra os países
def country_finder(coordinate_tuples):
    countries = []
    
    for coord_tuple in coordinate_tuples:
        coordinates = [[coord_tuple[1], coord_tuple[2]]]
        data = reverse_geocode.search(coordinates)
        country = data[0]['country']
        countries.append((coord_tuple[0], country))
    
    return countries

In [ ]:
%%sql
lat_long <<
SELECT key, latitude, longitude FROM
HURRICANE_RAW;

In [ ]:
lat_long = [(el[0], float(el[1]), float(el[2])) for el in lat_long]

In [ ]:
countries = country_finder(lat_long)
for i in range(len(countries)):
    countries[i] = (countries[i][0], countries[i][1].replace(',', ''))

In [ ]:
%%sql
DROP TABLE IF EXISTS SET_COUNTRY;
CREATE TABLE SET_COUNTRY (
    KEY INTEGER,
    COUNTRY VARCHAR(300)
);

In [ ]:
with open('set_country.csv', 'a', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(countries)

capture_command_output(f'sudo -S docker cp set_country.csv {CONTAINER_ID}:set_country.csv  < ./passwordfile')

In [ ]:
%%sql
COPY SET_COUNTRY(key, country)
FROM '/set_country.csv'
DELIMITER ',';

ALTER TABLE HURRICANE_RAW 
ADD COLUMN COUNTRY VARCHAR(255);

In [ ]:
%%sql
UPDATE HURRICANE_RAW h
SET country = c.country
FROM SET_COUNTRY c
WHERE c.key = h.key;

### Adicionar timezone para HURRICANE_RAW
Para criamos termos o campo horaLocal, de acordo com nossa constelação de fatos, tivemos que pegar o fuso horário pela latitude e longitude. 

Para isso, usamos a biblioteca geopandas e shapely.geometry para encontrar as timezones a partir da latitude e longitude. Criamos uma tabela SET_TIMEZONE e a preenchemos usando um csv com as timezones e suas respectivas chaves, de forma que fizemos um inner join entre essa tabela e a HURRICANE_RAW, adicionando as timezones.

In [ ]:
import geopandas as gpd

# Load the shapefile
shapefile_path = "./World_Time_Zones-shp/World_Time_Zones.shp"
gdf = gpd.read_file(shapefile_path)

In [ ]:
from shapely.geometry import Point

def get_timezone(coordinate_tuples):
    shapes = gdf['geometry'].values
    timezones = []

    for coordinate in coordinate_tuples:
        lat, lon = [coordinate[1], coordinate[2]]
        point = Point(lon, lat)

        fl_found = 0

        for idx, shape in enumerate(shapes):
            if(shape.contains(point)):
                timezone = gdf['ZONE'].values[idx]
                fl_found = 1
                break
        
        if fl_found == 0:
            timezone = round(lon/15)
            
        timezones.append((coordinate[0], timezone))

    return timezones

In [ ]:
timezones = get_timezone(lat_long)

In [ ]:
%%sql
DROP TABLE IF EXISTS SET_TIMEZONE;
CREATE TABLE SET_TIMEZONE (
    KEY INTEGER,
    TIMEZONE REAL
);

In [ ]:
with open('set_timezone.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(timezones)

capture_command_output(f'sudo -S docker cp set_timezone.csv {CONTAINER_ID}:set_timezone.csv  < ./passwordfile')

In [ ]:
%%sql
COPY SET_TIMEZONE(key, timezone)
FROM '/set_timezone.csv'
DELIMITER ',';

ALTER TABLE HURRICANE_RAW 
ADD COLUMN TIMEZONE REAL;

In [ ]:
%%sql
UPDATE HURRICANE_RAW h
SET timezone = t.timezone
FROM SET_TIMEZONE t
WHERE t.key = h.key;

In [ ]:
%%sql
ALTER TABLE HURRICANE_RAW 
ADD COLUMN LOCAL_TIME TIME;

UPDATE HURRICANE_RAW
SET LOCAL_TIME = TIME AT TIME ZONE 'UTC' + (TIMEZONE || ' hour')::interval::time;

### Adicionar categoria para HURRICANE_RAW 
Criamos o campo categoria, de acordo com nossa constelação de fatos. Para criá-lo, usamos o maxwind e a Escala de furacões de Saffir-Simpson. Para valores de maxwind menores que 64, a Escala de furacões de Saffir-Simpson não considera como um furacão, mas como uma tempestade ou depressão tropical. Por conta disso, nesses casos colocamos a categoria como SEM_CATEGORIA.

In [ ]:
%%sql
ALTER TABLE HURRICANE_RAW
ADD Categoria VARCHAR(100);

UPDATE HURRICANE_RAW
SET Categoria = CASE
                    WHEN maxwind < 64 THEN 'SEM_CATEGORIA'
                    WHEN maxwind >= 64 AND  maxwind < 83 THEN '1' 
                    WHEN maxwind >= 83 AND maxwind < 96 THEN '2'
		            WHEN maxwind >= 96 AND maxwind < 113 THEN '3'
		            WHEN maxwind >= 113 AND maxwind < 137 THEN '4'
                    WHEN maxwind >= 137 THEN '5'
                END;

### Observar valores de status do furacão
De acordo com a documentação do dataset, temos 9 opções de status de furacão. Entretanto, surgiram alguns outros status nos dados e resolvemos reclassificá-los para manter o padrão.

In [ ]:
%%sql
SELECT DISTINCT(Status) FROM HURRICANE_RAW;

In [ ]:
%%sql
DELETE FROM HURRICANE_RAW WHERE id = (SELECT DISTINCT id FROM HURRICANE_RAW WHERE status ~ 'PT');

UPDATE HURRICANE_RAW SET Status = TRIM(Status);

UPDATE HURRICANE_RAW SET Status = 'TS' WHERE Status = 'ST';
UPDATE HURRICANE_RAW SET Status = 'EX' WHERE Status = 'ET';

### Adicionar status escrito
De acordo com nossa constelação de fatos, criamos o campo status escrito. Para isso, alteramos a sigla pela sua descrição, de acordo com a documentação do dataset.

In [ ]:
%%sql
ALTER TABLE HURRICANE_RAW
ADD COLUMN written_status VARCHAR(200);

In [ ]:
%%sql
UPDATE HURRICANE_RAW h
SET written_status = s.written_status
FROM (SELECT DISTINCT status,
    CASE WHEN status = 'DB' THEN 'Disturbance'
    WHEN status = 'EX' THEN 'Extratropical cyclone'
    WHEN status = 'HU' THEN 'Tropical cyclone of hurricane intensity'
    WHEN status = 'LO' THEN 'Low'
    WHEN status = 'SD' THEN 'Subtropical cyclone of subtropical depression intensity'
    WHEN status = 'SS' THEN 'Subtropical cyclone of subtropical storm intensity'
    WHEN status = 'TD' THEN 'Tropical cyclone of tropical depression intensity'
    WHEN status = 'TS' THEN 'Tropical cyclone of tropical storm intensity'
    WHEN status = 'WV' THEN 'Tropical Wave'
END AS written_status
FROM HURRICANE_RAW) s
WHERE s.status = h.status;

### Verificar valores nulos na tabela TEMPERATURE_RAW
Como não é permitido deixar valores nulos no data warehouse, mudamos os nulos para valores semânticos.

In [ ]:
years = ['Y' + str(i) for i in range(1961, 2020)]
query = '''
UPDATE TEMPERATURE_RAW SET {year} = -999 WHERE {year} IS NULL;
'''

with engine.connect() as con:
    for year in years:
        rs = con.execute(text(query.format(year=year)))
        con.commit()

## Temperature

### Adicionar apenas países
O campo area na tabela TEMPERATURE_RAW possui mais do que apenas países, possuindo também estruturas, como a OCDE. Por conta disso, vamos comparar a area com o COUNTRY, que usamos na tabela HURRICANE_RAW, de forma que só pegamos os países.

In [ ]:
capture_command_output(f'sudo -S docker cp countries.csv {CONTAINER_ID}:countries.csv < ./passwordfile')

In [ ]:
%%sql
WITH SELECTED_COUNTRIES AS (
    SELECT DISTINCT COUNTRY
        FROM TEMPERATURE_RAW
            JOIN COUNTRIES ON LOWER(COUNTRY) = LOWER(AREA)
), UNSELECTED_COUNTRIES AS (
    SELECT DISTINCT AREA COUNTRY
        FROM TEMPERATURE_RAW
            LEFT JOIN SELECTED_COUNTRIES ON AREA = COUNTRY
    WHERE COUNTRY IS NULL
)
DELETE FROM TEMPERATURE_RAW temp 
    USING UNSELECTED_COUNTRIES unsel
WHERE temp.area = unsel.country;

### Adicionar continente para Temperature e Hurricane
Conforme nossa constelação de dados, adicionamos o campo continente nas tabelas TEMPERATURE_RAW e HURRICANE_RAW. 

Para isso, criamos a coluna continente nessas 2 tabelas, pegamos os países de ambas tabelas e fazemos uma chamada de API que pega o continente a partir do país. Entretanto, alguns continentes não foram encontrados e seu valor na tabela é NOT FOUND. Depois, criamos duas tabelas SET_CONTINENT_T e SET_CONTINENT_H, para a temperatura e o furacão, e as preenchemos com o csv set_continente_t e set_continente_h, respectivamente. Depois, atualizamos as tabelas TEMPERATURE_RAW e HURRICANE_RAW com o nvo campo.

In [ ]:
%%sql
ALTER TABLE TEMPERATURE_RAW
ADD COLUMN CONTINENT VARCHAR(100);

ALTER TABLE HURRICANE_RAW
ADD COLUMN CONTINENT VARCHAR(100);

In [ ]:
%%sql countries << 
SELECT DISTINCT
CASE
    WHEN area IS NULL AND country IS NOT NULL THEN country
    WHEN country IS NULL AND area IS NOT NULL THEN area
    WHEN country IS NOT NULL AND area IS NOT NULL THEN country
END AS FINAL_COUNTRY
FROM TEMPERATURE_RAW 
FULL OUTER JOIN HURRICANE_RAW 
    ON LOWER(TRIM(area)) = LOWER(TRIM(country));

In [ ]:
countries = [country[0] for country in countries]

def country_to_continent(country_name):
    try:
        country_alpha2 = pc.country_name_to_country_alpha2(country_name)
        country_continent_code = pc.country_alpha2_to_continent_code(country_alpha2)
        country_continent_name = pc.convert_continent_code_to_continent_name(country_continent_code)
        return country_continent_name
    except:
        return 'NOT_FOUND'

continents = {country: country_to_continent(country) for country in countries}
continents

In [ ]:
%sql countries_t << SELECT key, area FROM TEMPERATURE_RAW;

In [ ]:
%sql countries_h << SELECT key, country FROM HURRICANE_RAW;

In [ ]:
continents_t = [(country[0], continents[country[1]]) for country in countries_t]
continents_h = [(country[0], continents[country[1]]) for country in countries_h]

In [ ]:
with open('set_continent_t.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(continents_t)

with open('set_continent_h.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(continents_h)

capture_command_output(f'sudo -S docker cp set_continent_h.csv {CONTAINER_ID}:set_continent_h.csv  < ./passwordfile')
capture_command_output(f'sudo -S docker cp set_continent_t.csv {CONTAINER_ID}:set_continent_t.csv  < ./passwordfile')

In [ ]:
%%sql
DROP TABLE IF EXISTS SET_CONTINENT_T;
CREATE TABLE SET_CONTINENT_T (
    KEY INTEGER,
    CONTINENT VARCHAR(100)
);

DROP TABLE IF EXISTS SET_CONTINENT_H;
CREATE TABLE SET_CONTINENT_H (
    KEY INTEGER,
    CONTINENT VARCHAR(100)
);

COPY SET_CONTINENT_T(key, continent)
FROM '/set_continent_t.csv'
DELIMITER ',';

COPY SET_CONTINENT_H(key, continent)
FROM '/set_continent_h.csv'
DELIMITER ',';

In [ ]:
%%sql
UPDATE TEMPERATURE_RAW t
SET continent = c.continent
FROM SET_CONTINENT_T c
WHERE t.key = c.key;

UPDATE HURRICANE_RAW h
SET continent = c.continent
FROM SET_CONTINENT_H c
WHERE h.key = c.key;

### Apenas meses válidos e adicionar número do mês
Nos dados tinhamos meses que estavam 'January-March', como eles iriam atrapalhar ao realizar a consulta, pagamos esses casos. Além disso, de acordo com a constelação de fatos, criamos o campo do número do mês.

In [ ]:
%%sql
ALTER TABLE TEMPERATURE_RAW
ADD COLUMN month_value INTEGER;

In [ ]:
%%sql
WITH NOT_MONTHS AS (
SELECT DISTINCT MONTHS FROM TEMPERATURE_RAW t
  LEFT JOIN MONTHS AS m ON t.months = m.month
      WHERE m.month IS NULL)
DELETE FROM TEMPERATURE_RAW temp 
    USING NOT_MONTHS nm
WHERE nm.months = temp.months;

UPDATE TEMPERATURE_RAW t
SET month_value = m.value
FROM MONTHS m
WHERE t.months = m.month;

# Load

## Criando tabelas reais
De acordo com a constelação de fatos, criamos as tabelas reais que vamos usar para fazer as consultas.

#### Tabela Localização

In [ ]:
%%sql
DROP TABLE IF EXISTS LOCALIZACAO;
CREATE TABLE LOCALIZACAO (
    CHAVE_LOCALIZACAO SERIAL NOT NULL,
    PAIS VARCHAR(100),
    CONTINENTE VARCHAR(100),
    CONSTRAINT PK_LOCALIZACAO PRIMARY KEY (CHAVE_LOCALIZACAO)
);

### Esquema Estrela Furacão

#### Tabela Furacao

In [ ]:
%%sql
DROP TABLE IF EXISTS FURACAO;
CREATE TABLE FURACAO (
    CHAVE_DATA_FURACAO SERIAL NOT NULL,
    CHAVE_HORARIO SERIAL NOT NULL,
    CHAVE_STATUS SERIAL NOT NULL,
    CHAVE_IDENTIFICACAO SERIAL NOT NULL,
    CHAVE_LOCALIZACAO SERIAL NOT NULL,
    VELOCIDADE_DO_VENTO INTEGER,
    CATEGORIA VARCHAR(100),
    QUANT_OCORRENCIA INTEGER,
    CONSTRAINT PK_FURACAO PRIMARY KEY (CHAVE_DATA_FURACAO, CHAVE_HORARIO, CHAVE_STATUS, CHAVE_IDENTIFICACAO, CHAVE_LOCALIZACAO)
);

#### Tabela Data_Furacao

In [ ]:
%%sql
DROP TABLE IF EXISTS DATA_FURACAO;
CREATE TABLE DATA_FURACAO (
    CHAVE_DATA_FURACAO SERIAL NOT NULL,
    DIA INTEGER,
    MES INTEGER,
    MES_ESCRITO VARCHAR(100),
    TRIMESTRE INTEGER,
    SEMESTRE INTEGER,
    ANO INTEGER,
    CONSTRAINT PK_DATA_FURACAO PRIMARY KEY (CHAVE_DATA_FURACAO)
);

#### Tabela Horario

In [ ]:
%%sql
DROP TABLE IF EXISTS HORARIO;
CREATE TABLE HORARIO (
    CHAVE_HORARIO SERIAL NOT NULL,
    HORA_UTC TIME,
    HORA_LOCAL TIME,
    CONSTRAINT PK_HORARIO PRIMARY KEY (CHAVE_HORARIO)
);

#### Tabela Status

In [ ]:
%%sql
DROP TABLE IF EXISTS STATUS;
CREATE TABLE STATUS (
    CHAVE_STATUS SERIAL NOT NULL,
    STATUS VARCHAR(5),
    STATUS_ESCRITO VARCHAR(100),
    CONSTRAINT PK_STATUS PRIMARY KEY (CHAVE_STATUS)
);

#### Tabela Identificacao

In [ ]:
%%sql
DROP TABLE IF EXISTS IDENTIFICACAO;
CREATE TABLE IDENTIFICACAO (
    CHAVE_IDENTIFICACAO SERIAL NOT NULL,
    ID VARCHAR(100),
    NOME VARCHAR(100),
    CONSTRAINT PK_IDENTIFICACAO PRIMARY KEY (CHAVE_IDENTIFICACAO)
);

### Esquema Estrela Aquecimento

#### Tabela Aquecimento

In [ ]:
%%sql
DROP TABLE IF EXISTS AQUECIMENTO;
CREATE TABLE AQUECIMENTO (
    CHAVE_DATA_AQUECIMENTO SERIAL NOT NULL,
    CHAVE_LOCALIZACAO SERIAL NOT NULL,
    DESVIO_PADRAO REAL,
    VARIACAO_TEMPERATURA REAL,
    CONSTRAINT PK_AQUECIMENTO PRIMARY KEY (CHAVE_DATA_AQUECIMENTO, CHAVE_LOCALIZACAO)
);

#### Tabela Data_Aquecimento

In [ ]:
%%sql
DROP TABLE IF EXISTS DATA_AQUECIMENTO;
CREATE TABLE DATA_AQUECIMENTO (
    CHAVE_DATA_AQUECIMENTO SERIAL NOT NULL,
    MES INTEGER,
    MES_ESCRITO VARCHAR(100),
    TRIMESTRE INTEGER,
    SEMESTRE INTEGER,
    ANO INTEGER,
    CONSTRAINT PK_DATA_AQUECIMENTO PRIMARY KEY (CHAVE_DATA_AQUECIMENTO)
);

## Carregando Dados

#### Alterar formato da tabela TEMPERATURE_RAW 
A tabela TEMPERATURE_RAW não está num bom formato para carregar os dados nas tabelas reais, pois temos 2 linhas para o mesmo mês e o mesmo furacão em que apenas o elemento é mudado, sendo ele temperatura ou desvio padrão. Além disso, cada ano está como uma coluna diferente, o que dificulta bastante. Assim, criamos a tabela TEMPERATURE_SEMI para facilitar a conversão para as tabelas reais. Logo, para cada tupla temos apenas um ano e um elemento, por exemplo.

In [ ]:
%%sql
SELECT * FROM TEMPERATURE_RAW LIMIT 5;

In [ ]:
%%sql
DROP TABLE IF EXISTS TEMPERATURE_SEMI;
CREATE TABLE TEMPERATURE_SEMI (
    area VARCHAR(200),
    continent VARCHAR(100),
    month_value INTEGER,
    months VARCHAR(100),
    year INTEGER,
    temp_change REAL,
    std_dev REAL
);

In [ ]:
%sql countries << SELECT DISTINCT area FROM TEMPERATURE_RAW;

In [ ]:
countries = [country[0] for country in countries]
month_values = list(range(1, 13))
years = ['Y' + str(i) for i in range(1961, 2020)]

In [ ]:
query_tmp = '''
SELECT area, continent, month_value, months, {year_int} as Year, {year} as temp_change
FROM TEMPERATURE_RAW
WHERE element = 'Temperature change' AND area = '{country}' AND month_value={month_value};
'''
query_std = '''
SELECT {year} as std_dev
FROM TEMPERATURE_RAW
WHERE element = 'Standard Deviation' AND area = '{country}' AND month_value={month_value};
'''

insert_query = '''
INSERT INTO TEMPERATURE_SEMI (area, continent, month_value, months, year, temp_change, std_dev)
VALUES {values};
'''

with engine.connect() as con:
    for country in countries:
        for month in month_values:
            for year in years:
                if "'" in country:
                    country = country.replace("'", '\'')
                rs_temp = con.execute(text(query_tmp.format(year=year, year_int=int(year[1:]), country=country, month_value=month)))
                rs_std = con.execute(text(query_std.format(year=year, country=country, month_value=month)))
                
                rs_final = [list(result) for result in rs_temp][0]
                rs_std = [rs for rs in rs_std]
                rs_final.append(rs_std[0][0])

                con.execute(text(insert_query.format(values=tuple(rs_final))))
                
                con.commit()

In [ ]:
%%sql
SELECT * FROM TEMPERATURE_SEMI LIMIT 5;

#### Tabela Localização
Carregamos os dados para a tabela LOCALIZACAO

In [ ]:
%%sql
INSERT INTO LOCALIZACAO (pais, continente)
SELECT DISTINCT country, continent FROM
HURRICANE_RAW;

MERGE INTO LOCALIZACAO l USING (SELECT DISTINCT area, continent FROM TEMPERATURE_RAW) t ON l.pais = t.area AND l.continente = t.continent
WHEN NOT MATCHED THEN
INSERT (pais, continente) VALUES (t.area, t.continent);

#### Tabela Horario
Carregamos os dados para a tabela HORARIO

In [ ]:
%%sql
INSERT INTO HORARIO (hora_utc, hora_local)
SELECT DISTINCT time, local_time
FROM HURRICANE_RAW;

#### Tabela Identificacao
Carregamos os dados para a tabela IDENTIFICACAO

In [ ]:
%%sql
INSERT INTO IDENTIFICACAO (id, nome)
SELECT DISTINCT id, name
FROM HURRICANE_RAW;

#### Tabela Status
Carregamos os dados para a tabela Status

In [ ]:
%%sql
INSERT INTO Status (status, status_escrito)
SELECT DISTINCT status, written_status FROM
HURRICANE_RAW;

#### Tabela Data_Furacao
Carregamos os dados para a tabela Data_Furacao

In [ ]:
%%sql
INSERT INTO Data_Furacao (dia, mes, mes_escrito, trimestre, semestre, ano)
SELECT DISTINCT EXTRACT(DAY FROM date), EXTRACT(MONTH FROM date), written_month, EXTRACT(QUARTER FROM date), (EXTRACT(QUARTER FROM date)/2), EXTRACT(YEAR FROM date)
FROM HURRICANE_RAW;

#### Tabela Data_Aquecimento
Carregamos os dados para a tabela Data_Aquecimento

In [ ]:
%%sql
INSERT INTO Data_Aquecimento (mes, mes_escrito, trimestre, semestre, ano)
SELECT DISTINCT month_value, months, (month_value-1)/3 + 1, (month_value-1)/6 + 1, year
FROM TEMPERATURE_SEMI;

#### Tabela Aquecimento
Carregamos os dados para a tabela de fatos Aquecimento

In [ ]:
%%sql
INSERT INTO Aquecimento (chave_data_aquecimento, chave_localizacao, desvio_padrao, variacao_temperatura)
SELECT d.chave_data_aquecimento, l.chave_localizacao, t.std_dev, t.temp_change
FROM DATA_AQUECIMENTO d JOIN TEMPERATURE_SEMI t ON d.mes = t.month_value AND d.ano = t.year
    JOIN LOCALIZACAO l ON t.area = l.pais
WHERE t.std_dev != -999 AND t.temp_change != -999;

In [ ]:
%%sql
SELECT * FROM Aquecimento LIMIT 5;

#### Tabela Furacao
Carregamos os dados para a tabela de fatos Furacao

In [ ]:
%%sql
INSERT INTO Furacao (chave_data_furacao, chave_horario, chave_status, 
                    chave_identificacao, chave_localizacao, velocidade_do_vento,
                    categoria, quant_ocorrencia)
SELECT d.chave_data_furacao, hr.chave_horario, s.chave_status, i.chave_identificacao, l.chave_localizacao, h.maxwind, h.categoria, 1
FROM HURRICANE_RAW h
JOIN Data_Furacao d 
    ON EXTRACT(DAY FROM h.date) = d.dia AND EXTRACT(MONTH FROM h.date) = d.mes AND EXTRACT(YEAR FROM h.date) = d.ano
JOIN Horario hr
    ON hr.hora_utc = h.time AND hr.hora_local = h.local_time
JOIN Status s
    ON s.status = h.status
JOIN Identificacao i
    ON i.id = h.id
JOIN Localizacao l
    ON l.pais = h.country;

In [ ]:
%%sql
SELECT * FROM Furacao LIMIT 5;

#### DataView

In [ ]:
%%sql
DROP MATERIALIZED VIEW IF EXISTS DATAVIEW;
CREATE MATERIALIZED VIEW DATAVIEW AS 
    SELECT
        DF.CHAVE_DATA_FURACAO,
        DA.CHAVE_DATA_AQUECIMENTO
    FROM 
        DATA_FURACAO DF,
        DATA_AQUECIMENTO DA
    WHERE
        DF.MES = DA.MES AND
        DF.ANO = DA.ANO;