In [216]:
!pip install reverse_geocode
!pip install geopandas shapely
!pip install pycountry_convert

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: reverse_geocode in /home/kibon/.local/lib/python3.10/site-packages (1.4.1)
Requirement already satisfied: scipy in /home/kibon/.local/lib/python3.10/site-packages (from reverse_geocode) (1.11.3)
Requirement already satisfied: numpy in /home/kibon/.local/lib/python3.10/site-packages (from reverse_geocode) (1.24.2)

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: geopandas in /home/kibon/.local/lib/python3.10/site-packages (0.14.1)
Requirement already satisfied: shapely in /home/kibon/.local/lib/python3.10/site-packages (2.0.2)
Requirement already satisfied: pyproj>=3.3.0 in /home/kibon/.local/lib/python3.10/site-packages (from geopandas) (3.6.1)
Requirement already satisfied: fiona>=1.8.21 in /home/kibon/.local/lib/python3.10/site-packages (from geopandas) (1.9.5)
Requirement already satisfied: packaging in /home/kibon/.local/lib/python3.10/site-packages (from geopandas) (23.0)
Requirement already satisfied: pandas>=1.4.0 in /home/kibon/.local/lib/python3.10/site-packages (from geopandas) (2.1.1)
Requirement already satisfied: numpy>=1.14 in /home/kibon/.local/lib/python3.10/site-packages (from shapely) (1.24.2)
Requirement already satisfied: click-plugins>=1.0 in /home/kibon/.local/lib/python3.10/site-packages (from fiona>=1.8.21->geopandas) (1.1.1)
Requirement already satisfied: six in /usr/lib/python3/dist-packages (from fiona>=1.8.21->geopandas) (1.16.0)
Requirement already satisfied: click~=8.0 in /usr/lib/python3/dist-packages (from fiona>=1.8.21->geopandas) (8.0.3)
Requirement already satisfied: attrs>=19.2.0 in /home/kibon/.local/lib/python3.10/site-packages (from fiona>=1.8.21->geopandas) (22.2.0)
Requirement already satisfied: setuptools in /home/kibon/.local/lib/python3.10/site-packages (from fiona>=1.8.21->geopandas) (68.2.2)
Requirement already satisfied: certifi in /home/kibon/.local/lib/python3.10/site-packages (from fiona>=1.8.21->geopandas) (2022.12.7)
Requirement already satisfied: cligj>=0.5 in /home/kibon/.local/lib/python3.10/site-packages (from fiona>=1.8.21->geopandas) (0.7.2)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas>=1.4.0->geopandas) (2022.1)
Requirement already satisfied: tzdata>=2022.1 in /home/kibon/.local/lib/python3.10/site-packages (from pandas>=1.4.0->geopandas) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/kibon/.local/lib/python3.10/site-packages (from pandas>=1.4.0->geopandas) (2.8.2)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pycountry_convert in /home/kibon/.local/lib/python3.10/site-packages (0.7.2)
Requirement already satisfied: wheel>=0.30.0 in /usr/lib/python3/dist-packages (from pycountry_convert) (0.37.1)
Requirement already satisfied: pytest>=3.4.0 in /home/kibon/.local/lib/python3.10/site-packages (from pycountry_convert) (7.4.3)
Requirement already satisfied: repoze.lru>=0.7 in /home/kibon/.local/lib/python3.10/site-packages (from pycountry_convert) (0.7)
Requirement already satisfied: pytest-mock>=1.6.3 in /home/kibon/.local/lib/python3.10/site-packages (from pycountry_convert) (3.12.0)
Requirement already satisfied: pycountry>=16.11.27.1 in /home/kibon/.local/lib/python3.10/site-packages (from pycountry_convert) (22.3.5)
Requirement already satisfied: pprintpp>=0.3.0 in /home/kibon/.local/lib/python3.10/site-packages (from pycountry_convert) (0.4.0)
Requirement already satisfied: pytest-cov>=2.5.1 in /home/kibon/.local/lib/python3.10/site-packages (from pycountry_convert) (4.1.0)
Requirement already satisfied: setuptools in /home/kibon/.local/lib/python3.10/site-packages (from pycountry>=16.11.27.1->pycountry_convert) (68.2.2)
Requirement already satisfied: iniconfig in /home/kibon/.local/lib/python3.10/site-packages (from pytest>=3.4.0->pycountry_convert) (2.0.0)
Requirement already satisfied: tomli>=1.0.0 in /home/kibon/.local/lib/python3.10/site-packages (from pytest>=3.4.0->pycountry_convert) (2.0.1)
Requirement already satisfied: packaging in /home/kibon/.local/lib/python3.10/site-packages (from pytest>=3.4.0->pycountry_convert) (23.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc8 in /home/kibon/.local/lib/python3.10/site-packages (from pytest>=3.4.0->pycountry_convert) (1.1.1)
Requirement already satisfied: pluggy<2.0,>=0.12 in /home/kibon/.local/lib/python3.10/site-packages (from pytest>=3.4.0->pycountry_convert) (1.3.0)
Requirement already satisfied: coverage[toml]>=5.2.1 in /home/kibon/.local/lib/python3.10/site-packages (from pytest-cov>=2.5.1->pycountry_convert) (7.3.2)

In [217]:
import pandas.io.sql as psql
from ipywidgets import interact  ##-- Interactors
import ipywidgets as widgets     #---
from sqlalchemy import create_engine, text
import pandas as pd
import pycountry_convert as pc
import csv
import functools

############## Conectar com um servidor SQL na Base postgres ###################### --> Postgres.postgres
%reload_ext sql

# Connection format: %sql dialect+driver://username:password@host:port/database
engine = create_engine('postgresql://postgres:dwightDW@localhost:5455/furacaoDW')
%sql postgresql://postgres:dwightDW@localhost:5455/furacaoDW
%sql SET client_encoding = 'latin1'

%sql DB << SELECT Current_Database();
print(DB)

 * postgresql://postgres:***@localhost:5455/furacaoDW
Done.
 * postgresql://postgres:***@localhost:5455/furacaoDW
1 rows affected.
Returning data to local variable DB
+------------------+
| current_database |
+------------------+
|    furacaoDW     |
+------------------+

In [218]:
import os

def capture_command_output(command):
    stream = os.popen(command)
    output = stream.read().strip()
    return output

In [219]:
CONTAINER_ID=capture_command_output('sudo -S docker ps -aqf "name=postgresDW" < ./passwordfile')

[sudo] password for kibon:

# Extract

### FuracÃ£o

In [220]:
capture_command_output(f'sudo -S docker cp hurricane/ {CONTAINER_ID}:hurricane/ < ./passwordfile')

[sudo] password for kibon:

''

In [221]:
hur_a = pd.read_csv("hurricane/atlantic.csv")
hur_p = pd.read_csv("hurricane/pacific.csv")
hur_a.head()

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure,...,Low Wind SW,Low Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW
0,AL011851,UNNAMED,18510625,0,,HU,28.0N,94.8W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
1,AL011851,UNNAMED,18510625,600,,HU,28.0N,95.4W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
2,AL011851,UNNAMED,18510625,1200,,HU,28.0N,96.0W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
3,AL011851,UNNAMED,18510625,1800,,HU,28.1N,96.5W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
4,AL011851,UNNAMED,18510625,2100,L,HU,28.2N,96.8W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999

In [222]:
hur_p.head()

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure,...,Low Wind SW,Low Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW
0,EP011949,UNNAMED,19490611,0,,TS,20.2N,106.3W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
1,EP011949,UNNAMED,19490611,600,,TS,20.2N,106.4W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
2,EP011949,UNNAMED,19490611,1200,,TS,20.2N,106.7W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
3,EP011949,UNNAMED,19490611,1800,,TS,20.3N,107.7W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
4,EP011949,UNNAMED,19490612,0,,TS,20.4N,108.6W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999

In [223]:
hur_p.columns

Index(['ID', 'Name', 'Date', 'Time', 'Event', 'Status', 'Latitude',
       'Longitude', 'Maximum Wind', 'Minimum Pressure', 'Low Wind NE',
       'Low Wind SE', 'Low Wind SW', 'Low Wind NW', 'Moderate Wind NE',
       'Moderate Wind SE', 'Moderate Wind SW', 'Moderate Wind NW',
       'High Wind NE', 'High Wind SE', 'High Wind SW', 'High Wind NW'],
      dtype='object')

In [224]:
%%sql
DROP TABLE IF EXISTS HURRICANE_RAW;
CREATE TABLE HURRICANE_RAW (
    KEY SERIAL PRIMARY KEY,
    ID VARCHAR(100),
    NAME VARCHAR(200),
    DATE VARCHAR(50),
    TIME VARCHAR(4),
    EVENT VARCHAR(4),
    STATUS VARCHAR(10),
    LATITUDE VARCHAR(15),
    LONGITUDE VARCHAR(15),
    MAXWIND INTEGER,
    MINPRESSURE INTEGER,
    LOWWIND_NE INTEGER,
    LOWWIND_SE INTEGER,
    LOWWIND_NW INTEGER,
    LOWWIND_SW INTEGER,
    MODWIND_NE INTEGER,
    MODWIND_SE INTEGER,
    MODWIND_NW INTEGER,
    MODWIND_SW INTEGER,
    HIGHWIND_NE INTEGER,
    HIGHWIND_SE INTEGER,
    HIGHWIND_NW INTEGER,
    HIGHWIND_SW INTEGER
);

 * postgresql://postgres:***@localhost:5455/furacaoDW
Done.
Done.

[]

In [225]:
%%sql
COPY HURRICANE_RAW( id, name, date, time, event, status, latitude, longitude,
                maxwind, minpressure, lowwind_ne, lowwind_se, lowwind_nw, lowwind_sw,
                modwind_ne, modwind_se, modwind_nw, modwind_sw,
                highwind_ne, highwind_se, highwind_nw, highwind_sw)
FROM '/hurricane/atlantic.csv'
DELIMITER ','
CSV HEADER;

COPY HURRICANE_RAW( id, name, date, time, event, status, latitude, longitude,
                maxwind, minpressure, lowwind_ne, lowwind_se, lowwind_nw, lowwind_sw,
                modwind_ne, modwind_se, modwind_nw, modwind_sw,
                highwind_ne, highwind_se, highwind_nw, highwind_sw)
FROM '/hurricane/pacific.csv'
DELIMITER ','
CSV HEADER;

 * postgresql://postgres:***@localhost:5455/furacaoDW

49105 rows affected.
26137 rows affected.

[]

### Temperatura

In [226]:
capture_command_output(f'sudo -S docker cp temperature/ {CONTAINER_ID}:temperature/  < ./passwordfile')

[sudo] password for kibon:

''

In [227]:
temp = pd.read_csv("temperature/Environment_Temperature_change_E_All_Data_NOFLAG.csv", encoding='latin-1')
temp.head()

,Area Code,Area,Months Code,Months,Element Code,Element,Unit,Y1961,Y1962,Y1963,...,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019
0,2,Afghanistan,7001,January,7271,Temperature change,Â°C,0.777,0.062,2.744,...,3.601,1.179,-0.583,1.233,1.755,1.943,3.416,1.201,1.996,2.951
1,2,Afghanistan,7001,January,6078,Standard Deviation,Â°C,1.950,1.950,1.950,...,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950
2,2,Afghanistan,7002,February,7271,Temperature change,Â°C,-1.743,2.465,3.919,...,1.212,0.321,-3.201,1.494,-3.187,2.699,2.251,-0.323,2.705,0.086
3,2,Afghanistan,7002,February,6078,Standard Deviation,Â°C,2.597,2.597,2.597,...,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597
4,2,Afghanistan,7003,March,7271,Temperature change,Â°C,0.516,1.336,0.403,...,3.390,0.748,-0.527,2.246,-0.076,-0.497,2.296,0.834,4.418,0.234

In [228]:
%%sql
DROP TABLE IF EXISTS TEMPERATURE_RAW;
CREATE TABLE TEMPERATURE_RAW (
    KEY SERIAL PRIMARY KEY,
    AREA_CODE INTEGER,
    AREA VARCHAR(100),
    MONTHS_CODE INTEGER,
    MONTHS VARCHAR(50),
    ELEMENT_CODE INTEGER,
    ELEMENT VARCHAR(100),
    UNIT VARCHAR(10),
    Y1961 REAL, Y1962 REAL,Y1963 REAL,Y1964 REAL,
    Y1965 REAL,Y1966 REAL,Y1967 REAL,Y1968 REAL,
    Y1969 REAL,Y1970 REAL,Y1971 REAL,Y1972 REAL,
    Y1973 REAL,Y1974 REAL,Y1975 REAL,Y1976 REAL,
    Y1977 REAL,Y1978 REAL,Y1979 REAL,Y1980 REAL,
    Y1981 REAL,Y1982 REAL,Y1983 REAL,Y1984 REAL,
    Y1985 REAL,Y1986 REAL,Y1987 REAL,Y1988 REAL,
    Y1989 REAL,Y1990 REAL,Y1991 REAL,Y1992 REAL,
    Y1993 REAL,Y1994 REAL,Y1995 REAL,Y1996 REAL,
    Y1997 REAL,Y1998 REAL,Y1999 REAL,Y2000 REAL,
    Y2001 REAL,Y2002 REAL,Y2003 REAL,Y2004 REAL,
    Y2005 REAL,Y2006 REAL,Y2007 REAL,Y2008 REAL,
    Y2009 REAL,Y2010 REAL,Y2011 REAL,Y2012 REAL,
    Y2013 REAL,Y2014 REAL,Y2015 REAL,Y2016 REAL,
    Y2017 REAL,Y2018 REAL,Y2019 REAL
)

 * postgresql://postgres:***@localhost:5455/furacaoDW
Done.
Done.

[]

In [229]:
%%sql
COPY TEMPERATURE_RAW 
    (AREA_CODE, AREA, MONTHS_CODE, MONTHS, ELEMENT_CODE, ELEMENT, UNIT,
    Y1961, Y1962, Y1963, Y1964, Y1965, Y1966, Y1967, Y1968, Y1969, Y1970,
    Y1971, Y1972, Y1973, Y1974, Y1975, Y1976, Y1977, Y1978, Y1979, Y1980, 
    Y1981, Y1982, Y1983, Y1984, Y1985, Y1986, Y1987, Y1988, Y1989, Y1990, 
    Y1991, Y1992, Y1993, Y1994, Y1995, Y1996, Y1997, Y1998, Y1999, Y2000, 
    Y2001, Y2002, Y2003, Y2004, Y2005, Y2006, Y2007, Y2008, Y2009, Y2010, 
    Y2011, Y2012, Y2013, Y2014, Y2015, Y2016, Y2017, Y2018, Y2019)
FROM '/temperature/Environment_Temperature_change_E_All_Data_NOFLAG.csv'
DELIMITER ','
CSV HEADER;

 * postgresql://postgres:***@localhost:5455/furacaoDW
9656 rows affected.

[]

In [230]:
%%sql
SELECT COUNT(DISTINCT(Unit)) FROM TEMPERATURE_RAW;

ALTER TABLE TEMPERATURE_RAW DROP COLUMN Unit;

 * postgresql://postgres:***@localhost:5455/furacaoDW
1 rows affected.
Done.

[]

In [231]:
%%sql
DROP TABLE IF EXISTS COUNTRIES;
CREATE TABLE COUNTRIES (
    ID INTEGER,
    COUNTRY VARCHAR(200)
);
COPY COUNTRIES (id, country)
FROM '/countries.csv'
DELIMITER ','
CSV HEADER;

 * postgresql://postgres:***@localhost:5455/furacaoDW
Done.
Done.
241 rows affected.

[]

# Transform

## Hurricane

### UNNAMED para NULL

In [232]:
%%sql
UPDATE HURRICANE_RAW SET name = TRIM(name);

UPDATE HURRICANE_RAW
SET name = NULL
WHERE name ~ 'UNNAMED';

 * postgresql://postgres:***@localhost:5455/furacaoDW

75242 rows affected.
28743 rows affected.

[]

### Selecionar apenas paÃ­ses

In [233]:
capture_command_output(f'sudo -S docker cp countries.csv {CONTAINER_ID}:countries.csv < ./passwordfile')

[sudo] password for kibon:

''

In [234]:
%%sql
WITH SELECTED_COUNTRIES AS (
    SELECT DISTINCT COUNTRY
        FROM TEMPERATURE_RAW
            JOIN COUNTRIES ON LOWER(COUNTRY) = LOWER(AREA)
), UNSELECTED_COUNTRIES AS (
    SELECT DISTINCT AREA COUNTRY
        FROM TEMPERATURE_RAW
            LEFT JOIN SELECTED_COUNTRIES ON AREA = COUNTRY
    WHERE COUNTRY IS NULL
)
DELETE FROM TEMPERATURE_RAW temp 
    USING UNSELECTED_COUNTRIES unsel
WHERE temp.area = unsel.country;

 * postgresql://postgres:***@localhost:5455/furacaoDW
3128 rows affected.

[]

### Alterar o formato da Latitude e Longitude

In [235]:
%%sql
UPDATE HURRICANE_RAW
SET LATITUDE = CASE
                      WHEN RIGHT(LATITUDE, 1) = 'N' THEN CAST(SUBSTR(LATITUDE,1, LENGTH(LATITUDE) - 1) AS DECIMAL)
                      WHEN RIGHT(LATITUDE, 1) = 'S' THEN -1 * CAST(SUBSTR(LATITUDE,1, LENGTH(LATITUDE) - 1) AS DECIMAL)
                   END;
UPDATE HURRICANE_RAW
SET LONGITUDE = CASE 
                      wHEN RIGHT(LONGITUDE, 1) = 'E' THEN CAST(SUBSTR(LONGITUDE,1, LENGTH(LONGITUDE) - 1) AS DECIMAL)
                      WHEN RIGHT(LONGITUDE, 1) = 'W' THEN -1 * CAST(SUBSTR(LONGITUDE,1, LENGTH(LONGITUDE) - 1) AS DECIMAL)
                   END;

 * postgresql://postgres:***@localhost:5455/furacaoDW
75242 rows affected.
75242 rows affected.

[]

### Mudar data do hurricane_raw de string para date

In [236]:
%%sql
ALTER TABLE HURRICANE_RAW
ALTER COLUMN date TYPE DATE
USING date::Date

 * postgresql://postgres:***@localhost:5455/furacaoDW
Done.

[]

### Mudar time do hurricane_raw de string para time

In [237]:
%%sql
UPDATE HURRICANE_RAW
SET time = LPAD(time, 4, '0');

ALTER TABLE HURRICANE_RAW
ALTER COLUMN time TYPE TIME
USING time::TIME;

 * postgresql://postgres:***@localhost:5455/furacaoDW
75242 rows affected.
Done.

[]

### Adicionar paÃ­ses aos furacÃµes

In [238]:
import reverse_geocode

# Encontra os paÃ­ses
def country_finder(coordinate_tuples):
    countries = []
    
    for coord_tuple in coordinate_tuples:
        coordinates = [[coord_tuple[1], coord_tuple[2]]]
        data = reverse_geocode.search(coordinates)
        country = data[0]['country']
        countries.append((coord_tuple[0], country))
    
    return countries

In [239]:
%%sql
lat_long <<
SELECT key, latitude, longitude FROM
HURRICANE_RAW;

 * postgresql://postgres:***@localhost:5455/furacaoDW
75242 rows affected.
Returning data to local variable lat_long

In [240]:
lat_long = [(el[0], float(el[1]), float(el[2])) for el in lat_long]

In [241]:
countries = country_finder(lat_long)
for i in range(len(countries)):
    countries[i] = (countries[i][0], countries[i][1].replace(',', ''))

In [242]:
%%sql
DROP TABLE IF EXISTS SET_COUNTRY;
CREATE TABLE SET_COUNTRY (
    KEY INTEGER,
    COUNTRY VARCHAR(300)
);

 * postgresql://postgres:***@localhost:5455/furacaoDW
Done.
Done.

[]

In [243]:
with open('set_country.csv', 'a', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(countries)

capture_command_output(f'sudo -S docker cp set_country.csv {CONTAINER_ID}:set_country.csv  < ./passwordfile')

[sudo] password for kibon:

''

In [244]:
%%sql
COPY SET_COUNTRY(key, country)
FROM '/set_country.csv'
DELIMITER ',';

ALTER TABLE HURRICANE_RAW 
ADD COLUMN COUNTRY VARCHAR(255);

 * postgresql://postgres:***@localhost:5455/furacaoDW
1730566 rows affected.
Done.

[]

In [245]:
%%sql
UPDATE HURRICANE_RAW h
SET country = c.country
FROM SET_COUNTRY c
WHERE c.key = h.key;

 * postgresql://postgres:***@localhost:5455/furacaoDW
75242 rows affected.

[]

### Adicionar timezone para HURRICANE_RAW

In [246]:
import geopandas as gpd

# Load the shapefile
shapefile_path = "./World_Time_Zones-shp/World_Time_Zones.shp"
gdf = gpd.read_file(shapefile_path)

In [247]:
from shapely.geometry import Point

def get_timezone(coordinate_tuples):
    shapes = gdf['geometry'].values
    timezones = []

    for coordinate in coordinate_tuples:
        lat, lon = [coordinate[1], coordinate[2]]
        point = Point(lon, lat)

        fl_found = 0

        for idx, shape in enumerate(shapes):
            if(shape.contains(point)):
                timezone = gdf['ZONE'].values[idx]
                fl_found = 1
                break
        
        if fl_found == 0:
            timezone = round(lon/15)
            
        timezones.append((coordinate[0], timezone))

    return timezones

In [248]:
timezones = get_timezone(lat_long)

In [249]:
%%sql
DROP TABLE IF EXISTS SET_TIMEZONE;
CREATE TABLE SET_TIMEZONE (
    KEY INTEGER,
    TIMEZONE REAL
);

 * postgresql://postgres:***@localhost:5455/furacaoDW
Done.
Done.

[]

In [250]:
with open('set_timezone.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(timezones)

capture_command_output(f'sudo -S docker cp set_timezone.csv {CONTAINER_ID}:set_timezone.csv  < ./passwordfile')

[sudo] password for kibon:

''

In [251]:
%%sql
COPY SET_TIMEZONE(key, timezone)
FROM '/set_timezone.csv'
DELIMITER ',';

ALTER TABLE HURRICANE_RAW 
ADD COLUMN TIMEZONE REAL;

 * postgresql://postgres:***@localhost:5455/furacaoDW
75242 rows affected.
Done.

[]

In [252]:
%%sql
UPDATE HURRICANE_RAW h
SET timezone = t.timezone
FROM SET_TIMEZONE t
WHERE t.key = h.key;

 * postgresql://postgres:***@localhost:5455/furacaoDW
75242 rows affected.

[]

In [253]:
%%sql
ALTER TABLE HURRICANE_RAW 
ADD COLUMN LOCAL_TIME TIME;

UPDATE HURRICANE_RAW
SET LOCAL_TIME = TIME AT TIME ZONE 'UTC' + (TIMEZONE || ' hour')::interval::time;

 * postgresql://postgres:***@localhost:5455/furacaoDW
Done.
75242 rows affected.

[]

### Adicionar categoria para HURRICANE_RAW

In [254]:
%%sql
ALTER TABLE HURRICANE_RAW
ADD Categoria INTEGER;

UPDATE HURRICANE_RAW
SET Categoria = CASE
                    WHEN maxwind < 64 THEN NULL
                    WHEN maxwind >= 64 AND  maxwind < 83 THEN 1 
                    WHEN maxwind >= 83 AND maxwind < 96 THEN 2
		            WHEN maxwind >= 96 AND maxwind < 113 THEN 3
		            WHEN maxwind >= 113 AND maxwind < 137 THEN 4
                    WHEN maxwind >= 137 THEN 5
                END;

 * postgresql://postgres:***@localhost:5455/furacaoDW
Done.
75242 rows affected.

[]

## Temperature

### Adicionar continente

In [255]:
%%sql
ALTER TABLE TEMPERATURE_RAW
ADD COLUMN CONTINENT VARCHAR(100);

ALTER TABLE HURRICANE_RAW
ADD COLUMN CONTINENT VARCHAR(100);

 * postgresql://postgres:***@localhost:5455/furacaoDW
Done.
Done.

[]

In [256]:
%%sql countries << 
SELECT DISTINCT
CASE
    WHEN area IS NULL AND country IS NOT NULL THEN country
    WHEN country IS NULL AND area IS NOT NULL THEN area
    WHEN country IS NOT NULL AND area IS NOT NULL THEN country
END AS FINAL_COUNTRY
FROM TEMPERATURE_RAW 
FULL OUTER JOIN HURRICANE_RAW 
    ON LOWER(TRIM(area)) = LOWER(TRIM(country));

 * postgresql://postgres:***@localhost:5455/furacaoDW
214 rows affected.
Returning data to local variable countries

In [257]:
countries = [country[0] for country in countries]

@functools.cache
def country_to_continent(country_name):
    try:
        country_alpha2 = pc.country_name_to_country_alpha2(country_name)
        country_continent_code = pc.country_alpha2_to_continent_code(country_alpha2)
        country_continent_name = pc.convert_continent_code_to_continent_name(country_continent_code)
        return country_continent_name
    except:
        return None

continents = [(country, country_to_continent(country)) for country in countries]
continents

[('Portugal', 'Europe'),
 ('Colombia', 'South America'),
 ('Solomon Islands', 'Oceania'),
 ('Eritrea', 'Africa'),
 ('Tuvalu', 'Oceania'),
 ('Brunei Darussalam', 'Asia'),
 ('Armenia', 'Asia'),
 ('El Salvador', 'North America'),
 ('Uganda', 'Africa'),
 ('Cuba', 'North America'),
 ('Angola', 'Africa'),
 ('Zambia', 'Africa'),
 ('Guam', 'Oceania'),
 ('Belgium', 'Europe'),
 ('Mali', 'Africa'),
 ('Grenada', 'North America'),
 ('Mauritius', 'Africa'),
 ('Seychelles', 'Africa'),
 ('Cambodia', 'Asia'),
 ('Djibouti', 'Africa'),
 ('Niue', 'Oceania'),
 ('Cyprus', 'Asia'),
 ('Guernsey', 'Europe'),
 ('Yemen', 'Asia'),
 ('Turks and Caicos Islands', 'North America'),
 ('Italy', 'Europe'),
 ('Switzerland', 'Europe'),
 ('Albania', 'Europe'),
 ('Germany', 'Europe'),
 ('Myanmar', 'Asia'),
 ('Viet Nam', 'Asia'),
 ('American Samoa', 'Oceania'),
 ('France', 'Europe'),
 ('Bermuda', 'North America'),
 ('Guadeloupe', 'North America'),
 ('Denmark', 'Europe'),
 ('Saint Bartelemey', None),
 ('Kuwait', 'Asia'),
 ('Antarctica', None),
 ('Namibia', 'Africa'),
 ('Jordan', 'Asia'),
 ('Uzbekistan', 'Asia'),
 ('Paraguay', 'South America'),
 ('Bhutan', 'Asia'),
 ('Micronesia Federated States of', None),
 ('Western Sahara', None),
 ('Haiti', 'North America'),
 ('Mayotte', 'Africa'),
 ('Malaysia', 'Asia'),
 ('Monaco', 'Europe'),
 ('Ghana', 'Africa'),
 ('Iceland', 'Europe'),
 ('Turkey', 'Asia'),
 ('Mongolia', 'Asia'),
 ('Mauritania', 'Africa'),
 ('Russian Federation', 'Europe'),
 ('Pakistan', 'Asia'),
 ('Panama', 'North America'),
 ('Qatar', 'Asia'),
 ('Chad', 'Africa'),
 ('Peru', 'South America'),
 ('Iraq', 'Asia'),
 ('New Zealand', 'Oceania'),
 ('Austria', 'Europe'),
 ('Guinea-Bissau', 'Africa'),
 ('Greenland', 'North America'),
 ('Benin', 'Africa'),
 ('Dominica', 'North America'),
 ('Curacao', None),
 ('Sierra Leone', 'Africa'),
 ('Saint Pierre and Miquelon', 'North America'),
 ('Burkina Faso', 'Africa'),
 ('Faroe Islands', 'Europe'),
 ('Bulgaria', 'Europe'),
 ('Bangladesh', 'Asia'),
 ('Algeria', 'Africa'),
 ('Serbia', 'Europe'),
 ('Philippines', 'Asia'),
 ('Burundi', 'Africa'),
 ('Nicaragua', 'North America'),
 ('Saint Martin', 'North America'),
 ('Antigua and Barbuda', 'North America'),
 ('Uruguay', 'South America'),
 ('Egypt', 'Africa'),
 ('Ethiopia', 'Africa'),
 ('Guyana', 'South America'),
 ('Guinea', 'Africa'),
 ('Aruba', 'North America'),
 ('Australia', 'Oceania'),
 ('United Kingdom', 'Europe'),
 ('Kiribati', 'Oceania'),
 ('Trinidad and Tobago', 'North America'),
 ('Northern Mariana Islands', 'Oceania'),
 ('Ireland', 'Europe'),
 ('Saint Lucia', 'North America'),
 ('Liechtenstein', 'Europe'),
 ('Montserrat', 'North America'),
 ('Marshall Islands', 'Oceania'),
 ('Virgin Islands British', None),
 ('Malta', 'Europe'),
 ('Guatemala', 'North America'),
 ('Cayman Islands', 'North America'),
 ('Senegal', 'Africa'),
 ('Argentina', 'South America'),
 ('India', 'Asia'),
 ('Nepal', 'Asia'),
 ('Somalia', 'Africa'),
 ('Saudi Arabia', 'Asia'),
 ('Maldives', 'Asia'),
 ('French Guiana', 'South America'),
 ('Cameroon', 'Africa'),
 ('Malawi', 'Africa'),
 ('Mozambique', 'Africa'),
 ('Niger', 'Africa'),
 ('Tajikistan', 'Asia'),
 ('United Arab Emirates', 'Asia'),
 ('Slovenia', 'Europe'),
 ('Zimbabwe', 'Africa'),
 ('Samoa', 'Oceania'),
 ('Ukraine', 'Europe'),
 ('Latvia', 'Europe'),
 ('Cape Verde', 'Africa'),
 ('Vanuatu', 'Oceania'),
 ('Japan', 'Asia'),
 ('Tunisia', 'Africa'),
 ('Tokelau', 'Oceania'),
 ('Belarus', 'Europe'),
 ('Lesotho', 'Africa'),
 ('Estonia', 'Europe'),
 ('Dominican Republic', 'North America'),
 ('San Marino', 'Europe'),
 ('Israel', 'Asia'),
 ('United States', 'North America'),
 ('Rwanda', 'Africa'),
 ('Anguilla', 'North America'),
 ('Sint Maarten', None),
 ('Central African Republic', 'Africa'),
 ('Hungary', 'Europe'),
 ('Andorra', 'Europe'),
 ('Slovakia', 'Europe'),
 ('Nigeria', 'Africa'),
 ('Canada', 'North America'),
 ('Greece', 'Europe'),
 ('Togo', 'Africa'),
 ('Palau', 'Oceania'),
 ('Gambia', 'Africa'),
 ('Gibraltar', 'Europe'),
 ('Syrian Arab Republic', 'Asia'),
 ('Suriname', 'South America'),
 ('Sudan', 'Africa'),
 ('Poland', 'Europe'),
 ('Falkland Islands (Malvinas)', 'South America'),
 ('Gabon', 'Africa'),
 ('Thailand', 'Asia'),
 ('Cook Islands', 'Oceania'),
 ('Saint Kitts and Nevis', 'North America'),
 ('South Africa', 'Africa'),
 ('Jamaica', 'North America'),
 ('Montenegro', 'Europe'),
 ('Papua New Guinea', 'Oceania'),
 ('Nauru', 'Oceania'),
 ('Venezuela', 'South America'),
 ('Norfolk Island', 'Oceania'),
 ('Bonaire Saint Eustatius and Saba', None),
 ('Sri Lanka', 'Asia'),
 ('Croatia', 'Europe'),
 ('Costa Rica', 'North America'),
 ('Kenya', 'Africa'),
 ('Congo', 'Africa'),
 ('Morocco', 'Africa'),
 ('Christmas Island', 'Asia'),
 ('Cocos (Keeling) Islands', 'Asia'),
 ("Lao People's Democratic Republic", 'Asia'),
 ('Botswana', 'Africa'),
 ('Romania', 'Europe'),
 ('Tonga', 'Oceania'),
 ('Luxembourg', 'Europe'),
 ('Chile', 'South America'),
 ('Puerto Rico', 'North America'),
 ('Equatorial Guinea', 'Africa'),
 ('Azerbaijan', 'Asia'),
 ('Comoros', 'Africa'),
 ('Bahrain', 'Asia'),
 ('French Polynesia', 'Oceania'),
 ('Virgin Islands U.S.', None),
 ('New Caledonia', 'Oceania'),
 ('Norway', 'Europe'),
 ('Kyrgyzstan', 'Asia'),
 ('Madagascar', 'Africa'),
 ('Lithuania', 'Europe'),
 ('Sweden', 'Europe'),
 ('Barbados', 'North America'),
 ('Ecuador', 'South America'),
 ('Mexico', 'North America'),
 ('Fiji', 'Oceania'),
 ('Turkmenistan', 'Asia'),
 ('Singapore', 'Asia'),
 ('Martinique', 'North America'),
 ('Brazil', 'South America'),
 ('Indonesia', 'Asia'),
 ('Finland', 'Europe'),
 ('Oman', 'Asia'),
 ('Bahamas', 'North America'),
 ('Liberia', 'Africa'),
 ('China', 'Asia'),
 ('Georgia', 'Asia'),
 ('Saint Vincent and the Grenadines', 'North America'),
 ('Afghanistan', 'Asia'),
 ('Lebanon', 'Asia'),
 ('Netherlands', 'Europe'),
 ('Spain', 'Europe'),
 ('Svalbard and Jan Mayen', 'Europe'),
 ('Honduras', 'North America'),
 ('Belize', 'North America')]

In [258]:
bad_countries = []
bad_indexes = []

for i in range(len(continents)):
    if continents[i][1] is None:
        bad_countries.append(continents[i][0])
        bad_indexes.append(i)

for i, index in enumerate(bad_indexes):
    countries.pop(index-i)
    continents.pop(index-i)

In [259]:
query = """
DELETE FROM {table}
WHERE {column} = '{country}';
"""

with engine.connect() as con:
    for country in bad_countries:
        rs = con.execute(text(query.format(table="TEMPERATURE_RAW", column="area", country=country)))
        print(f"Deleted {rs.rowcount} rows from TEMPERATURE_RAW - {country}")
        rs = con.execute(text(query.format(table="HURRICANE_RAW", column="country", country=country)))
        print(f"Deleted {rs.rowcount} rows from HURRICANE_RAW - {country}\n")

Deleted 0 rows from TEMPERATURE_RAW - Saint Bartelemey
Deleted 17 rows from HURRICANE_RAW - Saint Bartelemey

Deleted 34 rows from TEMPERATURE_RAW - Antarctica
Deleted 0 rows from HURRICANE_RAW - Antarctica

Deleted 0 rows from TEMPERATURE_RAW - Micronesia Federated States of
Deleted 28 rows from HURRICANE_RAW - Micronesia Federated States of

Deleted 34 rows from TEMPERATURE_RAW - Western Sahara
Deleted 0 rows from HURRICANE_RAW - Western Sahara

Deleted 0 rows from TEMPERATURE_RAW - Curacao
Deleted 32 rows from HURRICANE_RAW - Curacao

Deleted 0 rows from TEMPERATURE_RAW - Virgin Islands British
Deleted 369 rows from HURRICANE_RAW - Virgin Islands British

Deleted 0 rows from TEMPERATURE_RAW - Sint Maarten
Deleted 6 rows from HURRICANE_RAW - Sint Maarten

Deleted 0 rows from TEMPERATURE_RAW - Bonaire Saint Eustatius and Saba
Deleted 184 rows from HURRICANE_RAW - Bonaire Saint Eustatius and Saba

Deleted 0 rows from TEMPERATURE_RAW - Virgin Islands U.S.
Deleted 161 rows from HURRICANE_RAW - Virgin Islands U.S.

In [260]:
%%sql countries_t <<
SELECT key, area FROM TEMPERATURE_RAW;

 * postgresql://postgres:***@localhost:5455/furacaoDW
6528 rows affected.
Returning data to local variable countries_t

In [261]:
%%sql countries_h <<
SELECT key, country FROM HURRICANE_RAW;

 * postgresql://postgres:***@localhost:5455/furacaoDW
75242 rows affected.
Returning data to local variable countries_h

In [262]:
continents_t = [(country[0], country_to_continent(country[1])) for country in countries_t]
continents_h = [(country[0], country_to_continent(country[1])) for country in countries_h]

In [263]:
with open('set_continent_t.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(continents_t)

with open('set_continent_h.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(continents_h)

capture_command_output(f'sudo -S docker cp set_continent_h.csv {CONTAINER_ID}:set_continent_h.csv  < ./passwordfile')

[sudo] password for kibon:

''

In [264]:
%%sql
DROP TABLE IF EXISTS SET_CONTINENT_T;
CREATE TABLE SET_CONTINENT_T (
    KEY INTEGER,
    CONTINENT VARCHAR(100)
);

DROP TABLE IF EXISTS SET_CONTINENT_H;
CREATE TABLE SET_CONTINENT_H (
    KEY INTEGER,
    CONTINENT VARCHAR(100)
);

COPY SET_CONTINENT_T(key, continent)
FROM '/set_continent_t.csv'
DELIMITER ',';

COPY SET_CONTINENT_H(key, continent)
FROM '/set_continent_h.csv'
DELIMITER ',';

 * postgresql://postgres:***@localhost:5455/furacaoDW
Done.
Done.
Done.
Done.
6528 rows affected.
75242 rows affected.

[]

In [265]:
%%sql
UPDATE TEMPERATURE_RAW t
SET continent = c.continent
FROM SET_CONTINENT_T c
WHERE t.key = c.key;

UPDATE HURRICANE_RAW h
SET continent = c.continent
FROM SET_CONTINENT_H c
WHERE h.key = c.key;

 * postgresql://postgres:***@localhost:5455/furacaoDW
6528 rows affected.

75242 rows affected.

[]

### Apenas meses vÃ¡lidos

In [266]:
capture_command_output(f'sudo -S docker cp months.csv {CONTAINER_ID}:months.csv  < ./passwordfile')

[sudo] password for kibon:

''

In [267]:
%%sql
DROP TABLE IF EXISTS MONTHS;
CREATE TABLE MONTHS (
    Month VARCHAR(50)
);

COPY MONTHS(Month)
FROM '/months.csv'
DELIMITER ','
CSV HEADER;

 * postgresql://postgres:***@localhost:5455/furacaoDW
Done.
Done.
13 rows affected.

[]

In [268]:
%%sql
WITH NOT_MONTHS AS (
SELECT DISTINCT MONTHS FROM TEMPERATURE_RAW t
  LEFT JOIN MONTHS AS m ON t.months = m.month
      WHERE m.month IS NULL)
DELETE FROM TEMPERATURE_RAW temp 
    USING NOT_MONTHS nm
WHERE nm.months = temp.months;

 * postgresql://postgres:***@localhost:5455/furacaoDW
1920 rows affected.

[]

### Observar valores de status do furacÃ£o

In [269]:
%%sql
SELECT DISTINCT(Status) FROM HURRICANE_RAW;

 * postgresql://postgres:***@localhost:5455/furacaoDW
13 rows affected.

[(' DB',),
 (' ET',),
 (' EX',),
 (' HU',),
 (' HU ',),
 (' LO',),
 (' PT',),
 (' SD',),
 (' SS',),
 (' ST',),
 (' TD',),
 (' TS',),
 (' WV',)]

In [270]:
%%sql
DELETE FROM HURRICANE_RAW WHERE id = (SELECT DISTINCT id FROM HURRICANE_RAW WHERE status ~ 'PT');

UPDATE HURRICANE_RAW SET Status = TRIM(Status);

UPDATE HURRICANE_RAW SET Status = 'TS' WHERE Status = 'ST';
UPDATE HURRICANE_RAW SET Status = 'EX' WHERE Status = 'ET';

 * postgresql://postgres:***@localhost:5455/furacaoDW
28 rows affected.

75214 rows affected.
6 rows affected.
152 rows affected.

[]

In [271]:
%%sql
SELECT DISTINCT(Status) FROM HURRICANE_RAW;

 * postgresql://postgres:***@localhost:5455/furacaoDW
9 rows affected.

[('DB',),
 ('EX',),
 ('HU',),
 ('LO',),
 ('SD',),
 ('SS',),
 ('TD',),
 ('TS',),
 ('WV',)]

# Load

## Criando tabelas reais

#### Tabela LocalizaÃ§Ã£o

In [272]:
%%sql
DROP TABLE IF EXISTS LOCALIZACAO;
CREATE TABLE LOCALIZACAO (
    CHAVE_LOCALIZACAO SERIAL NOT NULL,
    PAIS VARCHAR(100),
    AREA_CODE INTEGER,
    CONTINENTE VARCHAR(100),
    CONSTRAINT PK_LOCALIZACAO PRIMARY KEY (CHAVE_LOCALIZACAO)
);

 * postgresql://postgres:***@localhost:5455/furacaoDW
Done.
Done.

[]

#### Tabela DataView

In [273]:
%%sql
DROP VIEW IF EXISTS DATA_VIEW;
CREATE VIEW DATA_VIEW (
    MES INTEGER,
    MES_ESCRITO VARCHAR(100),
    TRIMESTRE INTEGER,
    SEMESTRE INTEGER,
    ANO INTEGER
);

 * postgresql://postgres:***@localhost:5455/furacaoDW
Done.
(psycopg2.errors.SyntaxError) syntax error at or near "INTEGER"
LINE 2:     MES INTEGER,
                ^

[SQL: CREATE VIEW DATA_VIEW (
    MES INTEGER,
    MES_ESCRITO VARCHAR(100),
    TRIMESTRE INTEGER,
    SEMESTRE INTEGER,
    ANO INTEGER
);]
(Background on this error at: https://sqlalche.me/e/20/f405)

### Esquema Estrela FuracÃ£o

#### Tabela Furacao

In [274]:
%%sql
DROP TABLE IF EXISTS FURACAO;
CREATE TABLE FURACAO (
    CHAVE_DATA_FURACAO SERIAL NOT NULL,
    CHAVE_HORARIO SERIAL NOT NULL,
    CHAVE_STATUS SERIAL NOT NULL,
    CHAVE_IDENTIFICACAO SERIAL NOT NULL,
    CHAVE_LOCALIZACAO SERIAL NOT NULL,
    VELOCIDADE_DO_VENTO INTEGER,
    CATEGORIA VARCHAR(100),
    QUANT_OCORRENCIA INTEGER,
    CONSTRAINT PK_FURACAO PRIMARY KEY (CHAVE_DATA_FURACAO, CHAVE_HORARIO, CHAVE_STATUS, CHAVE_IDENTIFICACAO, CHAVE_LOCALIZACAO)
);

 * postgresql://postgres:***@localhost:5455/furacaoDW
Done.
Done.

[]

#### Tabela Data_Furacao

In [275]:
%%sql
DROP TABLE IF EXISTS DATA_FURACAO;
CREATE TABLE DATA_FURACAO (
    CHAVE_DATA_FURACAO SERIAL NOT NULL,
    DIA INTEGER,
    MES INTEGER,
    MES_ESCRITO VARCHAR(100),
    TRIMESTRE INTEGER,
    SEMESTRE INTEGER,
    ANO INTEGER,
    CONSTRAINT PK_DATA_FURACAO PRIMARY KEY (CHAVE_DATA_FURACAO)
);

 * postgresql://postgres:***@localhost:5455/furacaoDW
Done.
Done.

[]

#### Tabela Horario

In [276]:
%%sql
DROP TABLE IF EXISTS HORARIO;
CREATE TABLE HORARIO (
    CHAVE_HORARIO SERIAL NOT NULL,
    HORA_UTC DATE,
    HORALOCAL DATE,
    CONSTRAINT PK_HORARIO PRIMARY KEY (CHAVE_HORARIO)
);

 * postgresql://postgres:***@localhost:5455/furacaoDW
Done.
Done.

[]

#### Tabela Status

In [277]:
%%sql
DROP TABLE IF EXISTS STATUS;
CREATE TABLE STATUS (
    CHAVE_STATUS SERIAL NOT NULL,
    STATUS INTEGER,
    STATUS_ESCRITO VARCHAR(100),
    CONSTRAINT PK_STATUS PRIMARY KEY (CHAVE_STATUS)
);

 * postgresql://postgres:***@localhost:5455/furacaoDW
Done.
Done.

[]

#### Tabela Identificacao

In [278]:
%%sql
DROP TABLE IF EXISTS IDENTIFICACAO;
CREATE TABLE IDENTIFICACAO (
    CHAVE_IDENTIFICACAO SERIAL NOT NULL,
    ID INTEGER,
    NOME VARCHAR(100),
    CONSTRAINT PK_IDENTIFICACAO PRIMARY KEY (CHAVE_IDENTIFICACAO)
);

 * postgresql://postgres:***@localhost:5455/furacaoDW
Done.
Done.

[]

### Esquema Estrela Aquecimento

#### Tabela Aquecimento

In [279]:
%%sql
DROP TABLE IF EXISTS AQUECIMENTO;
CREATE TABLE AQUECIMENTO (
    CHAVE_DATA_AQUECIMENTO SERIAL NOT NULL,
    CHAVE_LOCALIZACAO SERIAL NOT NULL,
    DESVIO_PADRAO INTEGER,
    VARIACAO_TEMPERATURA INTEGER,
    CONSTRAINT PK_AQUECIMENTO PRIMARY KEY (CHAVE_DATA_AQUECIMENTO, CHAVE_LOCALIZACAO)
);

 * postgresql://postgres:***@localhost:5455/furacaoDW
Done.
Done.

[]

#### Tabela DataAquecimento

In [280]:
%%sql
DROP TABLE IF EXISTS DATA_AQUECIMENTO;
CREATE TABLE DATA_AQUECIMENTO (
    CHAVE_DATA_AQUECIMENTO SERIAL NOT NULL,
    MES INTEGER,
    MES_ESCRITO VARCHAR(100),
    TRIMESTRE INTEGER,
    SEMESTRE INTEGER,
    ANO INTEGER,
    CONSTRAINT PK_DATA_AQUECIMENTO PRIMARY KEY (CHAVE_DATA_AQUECIMENTO)
);

 * postgresql://postgres:***@localhost:5455/furacaoDW
Done.
Done.

[]

## Carregando Dados

#### Tabela LocalizaÃ§Ã£o

In [281]:
%%sql
INSERT INTO LOCALIZACAO (pais, area_code, continente, constraint)
SELECT

 * postgresql://postgres:***@localhost:5455/furacaoDW
(psycopg2.errors.SyntaxError) syntax error at or near "constraint"
LINE 1: ...RT INTO LOCALIZACAO (pais, area_code, continente, constraint...
                                                             ^

[SQL: INSERT INTO LOCALIZACAO (pais, area_code, continente, constraint)
SELECT]
(Background on this error at: https://sqlalche.me/e/20/f405)